{% extends 'home/base.html' %}
{% block content %}
{% load static %}
  <link rel="stylesheet" href="{% static 'css\style.css' %}">
  <body>
      <div class="biodata" id="biodataID">
        <br><hr><br><br>
        <h2>
            Biografi
        </h2>
        <p style="text-align:left;">
            <img src="\static\home\johnF2.jpg" alt="Foto John Frusciante" width="300" height="300" align="left">
              Nama: John Frusciante<br>
              Band: Red Hot Chilli Peppers<br>
              Kelahiran: 1970<br>
              Hobi: Main gitar<br>
              Tentang John: Jago buat melodi<br>
              Tempat tinggal: New York<br>
              Media sosial: Youtube<br> 
          </p>
          <br><br><br><hr>
        <p style= "text-align:center;">
            Find John at : Only Youtube <a href="https://www.youtube.com/channel/UCZO23H9PkcznvVXy75IZbUA" class="fa fa-youtube"></a>
        </p>
      </div>
      <br><br><br><br><br><br><br><br><br><br><br>


      
      <div class="deskripsi" id="deskripsiID">
        <br><hr><br><br><br><br>
        <h2>
            Tentang John
        </h2>
        <p>
            Halo, ini musisi favorit saya, biasa dipanggil John<br>
            Saya suka dengan melodi dan solo-guitar yang dia buat<br>
            Mulai dari band punk dikotanya, John mulai bermain musik<br>
            Setelah direkrut RHCP, John menambahkan gaya musiknya menjadi funk-rock<br>
            Akulturasi antara funk-punk-rock, telah membuat melodi yang indah untuk saya<br>
            Dan sekarang dia telah menjadi legenda musik setidaknya untuk saya &#127928
          </p>
          <br><br><br><hr>
        <p style= "text-align:center;">
            Find John at : Only Youtube <a href="https://www.youtube.com/channel/UCZO23H9PkcznvVXy75IZbUA" class="fa fa-youtube"></a>
        </p>
      </div>
      <br><br><br><br><br><br><br><br><br><br><br>


      <div class="skill" id="skillID">
        <br><hr><br><br><br><br>
        <h2>
            Karya
        </h2>
        <p>
            Scar Tissue (1999)<br><br>
            The Zephyr Song (2002)<br><br>
            Can't Stop (2002)<br><br>
            Wet Sand (2006)<br><br>
          </p> 
          <hr>
        <p style= "text-align:center;">
            Find John at : Only Youtube <a href="https://www.youtube.com/channel/UCZO23H9PkcznvVXy75IZbUA" class="fa fa-youtube"></a>
        </p>
      </div>
      <br><br><br><br><br><br><br><br><br><br><br>


      <div class="pendidikan" id="pendidikanID">
        <br><hr><br><br><br><br>
        <h2>
          Band
        </h2>
        <p>
            Red<br><br>
            Hot<br><br>
            Chili<br><br>
            Peppers<br><br>
          </p> 
          <hr>
        <p style= "text-align:center;">
            Find John at : Only Youtube <a href="https://www.youtube.com/channel/UCZO23H9PkcznvVXy75IZbUA" class="fa fa-youtube"></a>
        </p>  
      </div>
      <br><br><br><br><br><br><br><br><br><br><br><br>
      {% endblock %}
    